[Unit]
Description = isucon7final main application in golang

[Service]
WorkingDirectory=/root/cco/webapp/go/
EnvironmentFile=/root/cco/env.sh
ExecStart = /root/cco/webapp/go/app

Restart   = always
Type      = simple
User      = root
Group     = root

[Install]
WantedBy = multi-user.target
